<!-- boucle pour afficher tous les pokemons -->
<div class="container card-group">

    <input class="container"
    #input
    (keyup)="afficheNumberPokemon(+input.value)"
    type="Pokemon"
    >

    <div *ngFor="let pokemon of pokemonList" class="test col-3">
      
      <div class="card m-1 border border-4">  
        <img (click)="selectPokemon(pokemon)" src="{{pokemon.picture}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">{{ pokemon.name}}</h5>
          <p class="card-text">Crée le : <br> {{pokemon.created}}</p>
        </div>
      </div>  
    </div>
  </div>