<h1 class="text-center mb-5">Article des pokémons</h1>

<!-- #input pour créer une variable typescript -->
<input class="container"
    #input
    (keyup.enter)="resultForm(input.value)"
    type="string"
>

<div class="container card-group">
    <div *ngFor="let article of Articles">
        <div class="card mx-2" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{ article }}</h5>
              <p (click)="afficheArticle(article)" class="card-text">Cliquez ici !</p>
            </div>
        </div>
    </div>
</div>