<nav class="navbar navbar-expand-lg bg-light mb-5">
    <div class="container-fluid">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pok%C3%A9mon_logo.svg/2560px-International_Pok%C3%A9mon_logo.svg.png" width="100" class="d-inline-block align-text-top">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <button type="button" class="btn btn-secondary mx-4" routerLink="/">Accueil</button>
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-secondary" routerLink="/article">Articles</button>
          </li>
        </ul> 
      </div>
    </div>

    <form class="d-flex" role="search">
        <!-- si on est connecté, on affiche bouton profile -->
        <div *ngIf="isConnected == 1">
            <button class="btn btn-outline-success" type="submit">Profile</button>
        </div>
        <!-- si on est pas connecté, on affiche le bouton connexion -->
        <div *ngIf="isConnected == 0">
            <button class="btn btn-outline-danger" type="submit">Connexion</button>
        </div>
    </form>

  </nav>