<nav class="navbar navbar-expand-lg bg-light mb-5">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Liste des pokémons</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/article">Article</a>
          </li>
        </ul> 
      </div>
    </div>

    <form class="d-flex" role="search">
        <!-- si on est connecté, on affiche bouton profile -->
        <div *ngIf="isConnected == 1">
            <button class="btn btn-outline-success" type="submit">Profile</button>
        </div>
        <!-- si on est pas connecté, on affiche le bouton connexion -->
        <div *ngIf="isConnected == 0">
            <button class="btn btn-outline-danger" type="submit">Connexion</button>
        </div>
    </form>

  </nav>