<nav class="navbar navbar-expand-lg bg-light mb-5">
    <div class="container-fluid">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pok%C3%A9mon_logo.svg/2560px-International_Pok%C3%A9mon_logo.svg.png" width="100" class="d-inline-block align-text-top">
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mx-auto fw-bold">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/">Accueil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/article">Articles</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/user">Utilisateurs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
      
    <form class="d-flex" role="search">
        <!-- si on est connecté, on affiche bouton profile -->
        <div *ngIf="isConnected == 1">
            <button class="btn btn-outline-success" type="submit">Profile</button>
        </div>
        <!-- si on est pas connecté, on affiche le bouton connexion -->
        <div *ngIf="isConnected == 0">
            <button class="btn btn-outline-danger" type="submit">Connexion</button>
        </div>
    </form>

  </nav>