<h1 class="text-center m-5">Liste des utilisateurs</h1>

<div class="row">


<div class="card-group col-8">
    <div *ngFor="let user of users">
        <div class="card m-2" style="width: 18rem;">
            <img src="https://cdn-icons-png.flaticon.com/512/6596/6596121.png" width="100px" alt="avatar">
            <div class="card-body">
              <h5 class="card-title">{{user.name}}</h5>
              
              <button (click)="selectUser(user)" class="btn btn-primary">Voir détails</button>
            </div>
        </div>
    </div>
</div>
<div class="col-4 mt-2">
    <app-user-detail [userC]="usersParent"></app-user-detail>
</div>
</div>