
<div class="d-flex align-items-center justify-content-center vh-100">
    <div class="text-center row">
        <div class=" col-md-6">
            <img src="https://cdn.pixabay.com/photo/2017/03/09/12/31/error-2129569__340.jpg" alt="error 404"
                class="img-fluid">
        </div>
        <div class=" col-md-6 mt-5">
            <p class="fs-3"> <span class="text-danger">Opps!</span> La page n'existe pas !</p>
            <p class="lead">
                La page que vous essayez d'afficher n'existe pas.
            </p>
            <a href="/" class="btn btn-primary">Retour à la page d'accueil</a>
        </div>

    </div>
</div>